<div id="atividades" class="activities row row-space text-center">
  <div class="col-md-4">
    <i class="fas fa-comment-alt fa-5x"></i>
    <h2>Comunidade</h2>
    <p>Nos comunicamos via redes sociais e encontros presenciais.</p>
    <a class="btn btn-primary" href="/comunidade">Participe</a>
  </div>
  <div class="col-md-4">
    <div class="icon-block">
      <i class="fas fa-comments fa-5x"></i>
      <h2>Encontros</h2>
      <p>Promovemos encontros regulares com palestras, <em>lightning talks</em> e <a href="http://horaextra.org">#horaextra</a>.</p>
      <a class="btn btn-primary" href="/encontros">Saiba mais</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="icon-block">
      <i class="fas fa-building fa-5x"></i>
      <h2>Empresas</h2>
      <p>Empresas de Blumenau promovem e usam JS para resolver problemas em domínios variados.</p>
      <a class="btn btn-primary" href="/empresas">Confira</a>
    </div>
  </div>
</div>